#btn_find_hr {
  color: #fff;
  background: #ff0019;
  border: 2px solid #ff9800;
  border-radius: 5px;
  font-size: 24px;
  font-weight: bold;
  padding: 14px 28px;  
}

#heart_rate_now {
    font-size: 400%;
}

.container {
  height: 100%;
  position: relative;
  border: 3px solid green;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
